<div class="modal fade" id="addLinkModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">New Link</h4>
            </div>
            <form class="form-inline custom-form" data-ng-submit="submitBookmarkForm()">
                <div class="modal-body">
                    <input type="text" class="form-control modalField" required placeholder="Name" data-ng-model="bookmark.name">
                    <input type="text" class="form-control modalField modalField-url" required placeholder="URL" data-ng-model="bookmark.url">
                    <br><br>
                    Add to Stack
                    <select class="form-control" data-ng-model="bookmark.stack_id" ng-options="stack._id as stack.name for stack in stacks">
                    </select>
                    <div ng-dropdown-multiselect="tags" options="tags" selected-model="selectedTags"></div>
                    <div class="clearfix"></div>
                    <br>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-success" value="New Link">
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
