<div class="modal fade" id="addStackModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create a new stack</h4>
            </div>

            <form class="form-inline custom-form" data-ng-submit="submitStackForm()">
                <div class="modal-body">
                    <input type="text" class="form-control modalField" required placeholder="Name" data-ng-model="stack.name">
                    <input colorpicker="hex" type="text" class="modalField" data-ng-model="stack.color">
                    <br>
                    <br>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="form-control" data-ng-model="stack.private"> Make Private
                        </label>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-success" value="Create Stack">
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->