extends layout

block content
    h1 Signup
    form(method='post')
        div Username: 
            input(type='text', name='username')
        div Email: 
            input(type='text', name='email')
        div Password: 
            input(type='text', name='password')
        div Confirm password: 
            input(type='text', name='confirmPassword')
        button(type='submit') Submit