/*meta.foundation-version {
    font-family: "/5.5.1/"
}*/

// Modified for ONLY the BLOCK-GRID functionality
meta.foundation-mq-small {
    font-family: "/only screen/";
    width: 0
}
meta.foundation-mq-small-only {
    font-family: "/only screen and (max-width: 40em)/";
    width: 0
}
meta.foundation-mq-medium {
    font-family: "/only screen and (min-width:40.063em)/";
    width: 40.063em
}
meta.foundation-mq-medium-only {
    font-family: "/only screen and (min-width:40.063em) and (max-width:64em)/";
    width: 40.063em
}
meta.foundation-mq-large {
    font-family: "/only screen and (min-width:64.063em)/";
    width: 64.063em
}
meta.foundation-mq-large-only {
    font-family: "/only screen and (min-width:64.063em) and (max-width:90em)/";
    width: 64.063em
}
meta.foundation-mq-xlarge {
    font-family: "/only screen and (min-width:90.063em)/";
    width: 90.063em
}
meta.foundation-mq-xlarge-only {
    font-family: "/only screen and (min-width:90.063em) and (max-width:120em)/";
    width: 90.063em
}
meta.foundation-mq-xxlarge {
    font-family: "/only screen and (min-width:120.063em)/";
    width: 120.063em
}
meta.foundation-data-attribute-namespace {
    font-family: false
}

[class*="block-grid-"] {
    display: block;
    padding: 0;
    margin: 0 -0.625rem
}
[class*="block-grid-"]:before,
[class*="block-grid-"]:after {
    content: " ";
    display: table
}
[class*="block-grid-"]:after {
    clear: both
}
[class*="block-grid-"]>li {
    display: block;
    height: auto;
    float: left;
    padding: 0 0.625rem 1.25rem
}
@media only screen {
    .small-block-grid-1>li {
        width: 100%;
        list-style: none
    }
    .small-block-grid-1>li:nth-of-type(1n) {
        clear: none
    }
    .small-block-grid-1>li:nth-of-type(1n+1) {
        clear: both
    }
    .small-block-grid-2>li {
        width: 50%;
        list-style: none
    }
    .small-block-grid-2>li:nth-of-type(1n) {
        clear: none
    }
    .small-block-grid-2>li:nth-of-type(2n+1) {
        clear: both
    }
    .small-block-grid-3>li {
        width: 33.33333%;
        list-style: none
    }
    .small-block-grid-3>li:nth-of-type(1n) {
        clear: none
    }
    .small-block-grid-3>li:nth-of-type(3n+1) {
        clear: both
    }
    .small-block-grid-4>li {
        width: 25%;
        list-style: none
    }
    .small-block-grid-4>li:nth-of-type(1n) {
        clear: none
    }
    .small-block-grid-4>li:nth-of-type(4n+1) {
        clear: both
    }
    .small-block-grid-5>li {
        width: 20%;
        list-style: none
    }
    .small-block-grid-5>li:nth-of-type(1n) {
        clear: none
    }
    .small-block-grid-5>li:nth-of-type(5n+1) {
        clear: both
    }
    .small-block-grid-6>li {
        width: 16.66667%;
        list-style: none
    }
    .small-block-grid-6>li:nth-of-type(1n) {
        clear: none
    }
    .small-block-grid-6>li:nth-of-type(6n+1) {
        clear: both
    }
    .small-block-grid-7>li {
        width: 14.28571%;
        list-style: none
    }
    .small-block-grid-7>li:nth-of-type(1n) {
        clear: none
    }
    .small-block-grid-7>li:nth-of-type(7n+1) {
        clear: both
    }
    .small-block-grid-8>li {
        width: 12.5%;
        list-style: none
    }
    .small-block-grid-8>li:nth-of-type(1n) {
        clear: none
    }
    .small-block-grid-8>li:nth-of-type(8n+1) {
        clear: both
    }
    .small-block-grid-9>li {
        width: 11.11111%;
        list-style: none
    }
    .small-block-grid-9>li:nth-of-type(1n) {
        clear: none
    }
    .small-block-grid-9>li:nth-of-type(9n+1) {
        clear: both
    }
    .small-block-grid-10>li {
        width: 10%;
        list-style: none
    }
    .small-block-grid-10>li:nth-of-type(1n) {
        clear: none
    }
    .small-block-grid-10>li:nth-of-type(10n+1) {
        clear: both
    }
    .small-block-grid-11>li {
        width: 9.09091%;
        list-style: none
    }
    .small-block-grid-11>li:nth-of-type(1n) {
        clear: none
    }
    .small-block-grid-11>li:nth-of-type(11n+1) {
        clear: both
    }
    .small-block-grid-12>li {
        width: 8.33333%;
        list-style: none
    }
    .small-block-grid-12>li:nth-of-type(1n) {
        clear: none
    }
    .small-block-grid-12>li:nth-of-type(12n+1) {
        clear: both
    }
}
@media only screen and (min-width: 40.063em) {
    .medium-block-grid-1>li {
        width: 100%;
        list-style: none
    }
    .medium-block-grid-1>li:nth-of-type(1n) {
        clear: none
    }
    .medium-block-grid-1>li:nth-of-type(1n+1) {
        clear: both
    }
    .medium-block-grid-2>li {
        width: 50%;
        list-style: none
    }
    .medium-block-grid-2>li:nth-of-type(1n) {
        clear: none
    }
    .medium-block-grid-2>li:nth-of-type(2n+1) {
        clear: both
    }
    .medium-block-grid-3>li {
        width: 33.33333%;
        list-style: none
    }
    .medium-block-grid-3>li:nth-of-type(1n) {
        clear: none
    }
    .medium-block-grid-3>li:nth-of-type(3n+1) {
        clear: both
    }
    .medium-block-grid-4>li {
        width: 25%;
        list-style: none
    }
    .medium-block-grid-4>li:nth-of-type(1n) {
        clear: none
    }
    .medium-block-grid-4>li:nth-of-type(4n+1) {
        clear: both
    }
    .medium-block-grid-5>li {
        width: 20%;
        list-style: none
    }
    .medium-block-grid-5>li:nth-of-type(1n) {
        clear: none
    }
    .medium-block-grid-5>li:nth-of-type(5n+1) {
        clear: both
    }
    .medium-block-grid-6>li {
        width: 16.66667%;
        list-style: none
    }
    .medium-block-grid-6>li:nth-of-type(1n) {
        clear: none
    }
    .medium-block-grid-6>li:nth-of-type(6n+1) {
        clear: both
    }
    .medium-block-grid-7>li {
        width: 14.28571%;
        list-style: none
    }
    .medium-block-grid-7>li:nth-of-type(1n) {
        clear: none
    }
    .medium-block-grid-7>li:nth-of-type(7n+1) {
        clear: both
    }
    .medium-block-grid-8>li {
        width: 12.5%;
        list-style: none
    }
    .medium-block-grid-8>li:nth-of-type(1n) {
        clear: none
    }
    .medium-block-grid-8>li:nth-of-type(8n+1) {
        clear: both
    }
    .medium-block-grid-9>li {
        width: 11.11111%;
        list-style: none
    }
    .medium-block-grid-9>li:nth-of-type(1n) {
        clear: none
    }
    .medium-block-grid-9>li:nth-of-type(9n+1) {
        clear: both
    }
    .medium-block-grid-10>li {
        width: 10%;
        list-style: none
    }
    .medium-block-grid-10>li:nth-of-type(1n) {
        clear: none
    }
    .medium-block-grid-10>li:nth-of-type(10n+1) {
        clear: both
    }
    .medium-block-grid-11>li {
        width: 9.09091%;
        list-style: none
    }
    .medium-block-grid-11>li:nth-of-type(1n) {
        clear: none
    }
    .medium-block-grid-11>li:nth-of-type(11n+1) {
        clear: both
    }
    .medium-block-grid-12>li {
        width: 8.33333%;
        list-style: none
    }
    .medium-block-grid-12>li:nth-of-type(1n) {
        clear: none
    }
    .medium-block-grid-12>li:nth-of-type(12n+1) {
        clear: both
    }
}
@media only screen and (min-width: 64.063em) {
    .large-block-grid-1>li {
        width: 100%;
        list-style: none
    }
    .large-block-grid-1>li:nth-of-type(1n) {
        clear: none
    }
    .large-block-grid-1>li:nth-of-type(1n+1) {
        clear: both
    }
    .large-block-grid-2>li {
        width: 50%;
        list-style: none
    }
    .large-block-grid-2>li:nth-of-type(1n) {
        clear: none
    }
    .large-block-grid-2>li:nth-of-type(2n+1) {
        clear: both
    }
    .large-block-grid-3>li {
        width: 33.33333%;
        list-style: none
    }
    .large-block-grid-3>li:nth-of-type(1n) {
        clear: none
    }
    .large-block-grid-3>li:nth-of-type(3n+1) {
        clear: both
    }
    .large-block-grid-4>li {
        width: 25%;
        list-style: none
    }
    .large-block-grid-4>li:nth-of-type(1n) {
        clear: none
    }
    .large-block-grid-4>li:nth-of-type(4n+1) {
        clear: both
    }
    .large-block-grid-5>li {
        width: 20%;
        list-style: none
    }
    .large-block-grid-5>li:nth-of-type(1n) {
        clear: none
    }
    .large-block-grid-5>li:nth-of-type(5n+1) {
        clear: both
    }
    .large-block-grid-6>li {
        width: 16.66667%;
        list-style: none
    }
    .large-block-grid-6>li:nth-of-type(1n) {
        clear: none
    }
    .large-block-grid-6>li:nth-of-type(6n+1) {
        clear: both
    }
    .large-block-grid-7>li {
        width: 14.28571%;
        list-style: none
    }
    .large-block-grid-7>li:nth-of-type(1n) {
        clear: none
    }
    .large-block-grid-7>li:nth-of-type(7n+1) {
        clear: both
    }
    .large-block-grid-8>li {
        width: 12.5%;
        list-style: none
    }
    .large-block-grid-8>li:nth-of-type(1n) {
        clear: none
    }
    .large-block-grid-8>li:nth-of-type(8n+1) {
        clear: both
    }
    .large-block-grid-9>li {
        width: 11.11111%;
        list-style: none
    }
    .large-block-grid-9>li:nth-of-type(1n) {
        clear: none
    }
    .large-block-grid-9>li:nth-of-type(9n+1) {
        clear: both
    }
    .large-block-grid-10>li {
        width: 10%;
        list-style: none
    }
    .large-block-grid-10>li:nth-of-type(1n) {
        clear: none
    }
    .large-block-grid-10>li:nth-of-type(10n+1) {
        clear: both
    }
    .large-block-grid-11>li {
        width: 9.09091%;
        list-style: none
    }
    .large-block-grid-11>li:nth-of-type(1n) {
        clear: none
    }
    .large-block-grid-11>li:nth-of-type(11n+1) {
        clear: both
    }
    .large-block-grid-12>li {
        width: 8.33333%;
        list-style: none
    }
    .large-block-grid-12>li:nth-of-type(1n) {
        clear: none
    }
    .large-block-grid-12>li:nth-of-type(12n+1) {
        clear: both
    }
}