@import "variables";
@import "mixins";
@import "base";
@import "block_grid";
body {
  // padding for navbar
  padding-top: 70px;
  font-family: $font-family-sans-serif;
  color: #666;
}

input,
textarea,
select,
textarea {
  font-family: $font-family-sans-serif;
  @include border-radius(3px);
}

.inline {
  display: inline-block;
}

.upline {
  @extend .inline;
  position: relative;
  top: -10px;
}

.controlButton {
  float: right;
  margin: 0 4px;
}

.favicon {
  max-width: 32px;
  max-height: 32px;
}

a.stackTitle {
  color: #555;
}

.stackOutline {
  border-width: 4px;
}

.stackItem {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: #ccc;
  margin: 10px 8px;
  border-radius: 2px;
  padding: 2px;
}

.thumbnail {
  overflow: hidden !important;
}

.bookmarkItem {
  display: inline-block;
  text-align: center;
}

.detailStackItem {
  display: inline-block;
  // width: 100%;
  // background: #ccc;
  // margin: 10px 8px;
  padding: 2px;

  img {
    border-radius: 4px;
  }
}

.bookmarkPic {
  position: relative;
  top: -10px;
}

.comment {
  padding: 4px;
}

.custom-modal {
  // position: relative;
  padding-top: 200px;
  text-align: center;
}
.form-control.color-picker {
  padding: 2px;
  width: 20px !important;
}

.text-green {
  color: $green;
}

/* Override bootstrap navbar */
.stackr-navbar {
  background-color: #fff;
  border-bottom: 2px solid $light-green;
  .stackr-navbar-brand {
    color: $green;
    font-weight: 800;
  }
  #navbar-content {
    a {
      color: $green; //$color2: #93bd6a;
    }
  }
}

.editName {
  width: 50%;
}