@import "variables";
@import "mixins";
@import "base";


html {
	// base font-size
	// 1rem = 16px
	// rem = root em
	font-size: 16px;
	font-family: $font-family-sans-serif;
}

body {
	// padding for navbar
	padding-top: 70px;
	font-family: $font-family-sans-serif;
}

input, textarea, select, textarea {
	font-family: $font-family-sans-serif;

	@include border-radius(3px);
}

.userForm {
	margin-top: 110px;
}

.inline {
	display: inline-block;
}

.controlButton {
	float: right;
	margin: 0 4px;
}

.stack {
	display: block;
	width: 204px;
	height: 204px;
	background: #fff;
	margin: 10px 0;
}

.stackItem {
	display: inline-block;
	width: 36px;
	height: 36px;
	background: #ccc;
	margin: 10px 8px;
	border-radius: 2px;
	padding: 2px;
}

.detailStackItem {
	display: inline-block;
	background: #ccc;
	margin: 10px 8px;
	border-radius: 4px;
	padding: 2px;
}

.bookmarkPic {
	position: relative;
	top: -10px;
}

.comment {
	padding: 8px;
	margin: 20px;
}

.custom-modal {
	// position: relative;
	padding-top: 200px;
	text-align: center;
}