<div class="h2">
    Home
    <div class="btn-group pull-right">
        <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#addLinkModal">New Link</button>
        <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#addStackModal">New Stack</button>
    </div>
</div>

<div add-bookmark-modal></div>
<div add-stack-modal></div>
<div class="clearfix">
</div>
<hr>


<div class="small-block-grid-3 medium-block-grid-5 large-block-grid-7">
    <li ng-repeat="stack in stacks">
        <div class="thumbnail">
            <div style="display:block; width:100%;" ng-style="{'background-color': stack.color}" class="label"></div>
            <div class="caption">

                <div class="h4">
                    <a class="stackTitle" ng-href="#/stacks/{{stack._id}}">{{stack.name}} </a>
                    <div>
                        <small><a ng-href="#/users/{{stack.owner_id}}"><span ng-bind="getUsername(stack.owner_id)"></span>
                        </a></small>
                    </div>
                </div>


                <!-- <p data-ng-bind="stack.lastUpdated | date:'MM/dd'">.</p> -->

                <span class="label label-default">{{stack.bookmarks.length}}</span>
                <!-- <div ng-repeat="bookmark in stack.bookmarks">
                    <a ng-href="{{bookmark.url}}"><img src="https://www.google.com/s2/favicons?domain_url={{bookmark.url}}"></a>
                </div> -->
            </div>
        </div>
    </li>
</div>

