<div class="row">
    <div class="col-sm-2 col-md-4"></div>
    <div class="col-sm-8 col-md-4">
        <div class="h3 text-center">Welcome to <span class="text-green">Stackr</span>! <br><small> Get started with collecting and sharing links.</small></div>
        <br>
        <form class="form-horizontal userForm" data-ng-submit="submitForm()">
            <div>
                <label>Username:</label>
                <input class="form-control" type="text" data-ng-model="user.username">
            </div>
            <div>
                <label>Password:</label>
                <input class="form-control" type="password" data-ng-model="user.password">
            </div>
            </br>
            <button class="btn btn-primary form-control" type="submit">Log In</button>
        </form>
        </br>
        <a href="#/signup">
            <button class="btn btn-info form-control">Sign Up</button>
        </a>
    </div>
    <div class="col-md-4"></div>
</div>
