<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
<p>Welcome to ________ . Our goal is to provide a place where you sort bookmarks into categories and make them available to friends. Collecting and Sharing made simple. 
    To get started please signup below. Once you have an account, you can create any type of collection you want and share it with the public.</p>
    <form class="form-horizontal userForm" data-ng-submit="submitForm()">
        <div>
            <label>Username:</label>
            <input class="form-control" type="text" data-ng-model="user.username">
        </div>
        <div>
            <label>Email:</label>
            <input class="form-control" type="email" data-ng-model="user.email">
        </div>
        <div>
            <label>Password:</label>
            <input class="form-control" type="password" data-ng-model="user.password">
        </div>
        <div>
            <label>Confirm password:</label>
            <input class="form-control" type="password" data-ng-model="user.confirmPassword">
        </div>
        </br>
        <button class="btn btn-success form-control" type="submit">Submit</button>
    </form>
</div>