<div class="row">
	<form class="col-md-8 well" data-ng-submit="submitForm()">
		<div class="header">
			
			<a ng-href="#/stacks/{{stack._id}}" class="btn btn-info inline controlButton">Back</a>
			<button type="submit" class="btn btn-warning inline controlButton">Save Stack</button>
			<h1><input data-ng-bind="stack.name" class="inline"></input>.</h1>
			<p>Author: <a data-ng-bind="owner.username" ng-href="#/profile/{{owner._id}}">.</a></p>
			<p>Last updated at <span data-ng-bind="stack.lastUpdated"></span>.</p>
			<textarea data-ng-bind="stack.description"></textarea>
		</div>
		<div class="grid">
			<a href="#"><button class="btn btn-success form-control">Add Bookmark</button></a>
			<div ng-repeat="bookmark in stack.bookmarks">
				<a data-ng-bind="bookmark.name" ng-href="{{bookmark.url}}" class="detailStackItem"></a>
				<a ng-href="{{bookmark.url}}" class="detailStackItem"><img src="http://placehold.it/128x128"></a>
				<a href="#"><button class="btn btn-danger form-control">Delete Bookmark</button></a>
			</div>
		</div>
	</form>
	<div class="col-md-1"></div>
	<div class="col-md-3 well">
		<h3>Comments</h3>
		<div class="comment">
			<p>By anonmyous, on August 12, 2013:</p>
			<p>laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.</p>
			<a href="#"><button class="btn btn-danger form-control">Delete Comment</button></a>
		</div>
		<div class="comment">
			<label>Name:</label>
      <input class="form-control">
      <label>Comment:</label>
      <textarea class="form-control"></textarea>
      </br>
      <a href="#"><button class="btn btn-success form-control">Add Comment</button></a>
		</div>
	</div>
</div>