<div class="row">
	<div class="col-md-8 well">
		<div class="header">
			<h1><span data-ng-bind="stack.name" class="inline"></span>.</h1>
			<button class="btn btn-danger inline controlButton">Delete Stack</button>
			<button class="btn btn-warning inline controlButton">Edit Stack</button>
			<p>Author: <a data-ng-bind="owner.name" ng-href="#/profile/{{owner._id}}">.</a></p>
			<p>Last updated at <span data-ng-bind="stack.lastUpdated"></span>.</p>
			
			<p data-ng-bind="stack.description"></p>
		</div>
		<div class="grid">
			<div ng-repeat="bookmark in stack.bookmarks">
				<a data-ng-bind="bookmark.name" ng-href="{{bookmark.url}}" class="detailStackItem"></a>
				<a ng-href="{{bookmark.url}}" class="detailStackItem"><img src="http://placehold.it/128x128"></a>
			</div>
		</div>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-3 well">
		<h3>Comments</h3>
		<div ng-repeat="comment in stack.comments" class="comment">
			<p>By <span data-ng-bind="comment.name"></span>, on <span data-ng-bind="comment.dateCreated"></span></p>
			<p data-ng-bind="comment.message"></p>
		</div>

		<form data-ng-submit="submitCommentForm()" class="comment">
			<label>Name:</label>
      		<input data-ng-model="comment.name" class="form-control">
      		<label>Comment:</label>
      		<textarea data-ng-model="comment.message" class="form-control"></textarea>
      		</br>
      		<button type="submit" class="btn btn-success form-control">Add Comment</button>
		</form>
	</div>
</div>