<div class="row">
	<div class="col-md-8 well">
		<div class="header">
			<h1 class="inline"><input value="Stack Name"></h1>
			<button class="btn btn-danger inline controlButton">Delete Stack</button>
			<button class="btn btn-success inline controlButton">Save Stack</button>
			<p>Author: <a href="#">Sam Smith</a></p>
			<p>Created on April 20, 3:24pm</p>
			
			<textarea>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</textarea>
		</div>
		<div class="grid">
			<a href="#" class="detailStackItem"><img src="http://placehold.it/128x128"></a>
			<a href="#"><button class="btn btn-danger form-control">Delete Link</button></a>
			<a href="#" class="detailStackItem"><img src="http://placehold.it/128x128"></a>
			<a href="#" class="detailStackItem"><img src="http://placehold.it/128x128"></a>
			<a href="#" class="detailStackItem"><img src="http://placehold.it/128x128"></a>
			<a href="#" class="detailStackItem"><img src="http://placehold.it/128x128"></a>
			<a href="#" class="detailStackItem"><img src="http://placehold.it/128x128"></a>
		</div>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-3 well">
		<h3>Comments</h3>
		<div class="comment">
			<p>By anonmyous, on August 12, 2013:</p>
			<p>laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.</p>
			<a href="#"><button class="btn btn-danger form-control">Delete Comment</button></a>
		</div>
		<div class="comment">
			<label>Name:</label>
      <input class="form-control">
      <label>Comment:</label>
      <textarea class="form-control"></textarea>
      </br>
      <a href="#"><button class="btn btn-success form-control">Add Comment</button></a>
		</div>
	</div>
</div>