<div class="row">
	<div class="col-md-12 well">
		<div class="header">
			<button class="btn btn-default">Add New Link</button>
			<button class="btn btn-default">Create New Stack</button>
		</div>
		<div class="grid">
			<div class="stack well">
				<a href="#"><h3>Stack Title</h3></a>
				<p>Creator, Aug 2 2:40pm</p>
				<a href="#" class="stackItem"><img src="http://placehold.it/32x32"></a>
				<a href="#" class="stackItem"><img src="http://placehold.it/32x32"></a>
				<a href="#" class="stackItem"><img src="http://placehold.it/32x32"></a>
				<a href="#" class="stackItem"><img src="http://placehold.it/32x32"></a>
				<a href="#" class="stackItem"><img src="http://placehold.it/32x32"></a>
				<a href="#" class="stackItem"><img src="http://placehold.it/32x32"></a>
			</div>
		</div>			
	</div>
</div>