<div>
    <div data-ng-if="otherUser">
        <h1><span data-ng-bind="otherUser.username"></span>&apos;s profile</h1>
        <form data-ng-if="!isFriend" class="form-inline custom-form" data-ng-submit="addFriendForm()">
            <input type="submit" class="btn btn-success" value="Add Friend">
        </form>
        <form data-ng-if="isFriend" class="form-inline custom-form" data-ng-submit="removeFriendForm()">
            <input type="submit" class="btn btn-danger" value="Remove Friend">
        </form>
        <!-- Todo - add is_friend check -->
        <!-- <form ng-hide="is_friend_idk" class="form-inline custom-form" data-ng-submit="removeFriendForm()">
          <input type="submit" class="btn btn-success" value="Remove Friend">
        </form> -->
        <div class="grid">
            <div ng-repeat="stack in otherStacks" class="stack well" ng-style="{'background-color': stack.color}">
                <a class="stackTitle" ng-href="#/stacks/{{stack._id}}"><h3 data-ng-bind="stack.name">.</h3></a>
                <a class="stackTitle" ng-href="#/users/{{stack.owner_id}}">
                    <p data-ng-bind="otherUser.username">, </p>
                </a>
                <p data-ng-bind="stack.lastUpdated | date:'MM/dd/yyyy, h:mma'">.</p>

                <div ng-repeat="bookmark in bookmarks" class="stack well">
                    <a ng-href="{{bookmark.url}}" class="stackItem"><img src="http://placehold.it/128x128"></a>
                </div>
            </div>
        </div>
    </div>
    <div data-ng-if="!otherUser">
        <span data-ng-bind="message"></span>
    </div>
</div>