<div>
    <div data-ng-if="isLoggedIn">
        <div class="header">
            <h1 class="inline"><span data-ng-bind="currentUser.username"></span>&apos;s profile</h1>

            <button class="btn btn-default upline" data-toggle="modal" data-target="#addLinkModal">Add New Link</button>
            <button class="btn btn-default upline" data-toggle="modal" data-target="#addStackModal">Create New Stack</button>
            <div add-bookmark-modal></div>
            <div add-stack-modal></div>
        </div>

        <div class="grid">
            <div ng-repeat="stack in stacks" class="stack well" ng-style="{'background-color': stack.color}">
                <a ng-href="#/stacks/{{stack._id}}"><h3 data-ng-bind="stack.name">.</h3></a>
                <a ng-href="#/users/{{stack.owner_id}}">
                    <p data-ng-bind="currentUser.username">, </p>
                </a>
                <p data-ng-bind="stack.lastUpdated | date:'MM/dd/yyyy, h:mma'">.</p>

                <div ng-repeat="bookmark in bookmarks" class="stack well">
                    <a ng-href="{{bookmark.url}}" class="stackItem"><img src="http://placehold.it/128x128"></a>
                </div>
            </div>
        </div>
    </div>
    <div data-ng-if="!isLoggedIn">
        <h1>Not logged in</h1>
    </div>
</div>
