<div>
  <div data-ng-show="isLoggedIn">
    <h1><span data-ng-bind="currentUser.username"></span>&apos;s profile</h1>

    <div class="grid">
    	<button class="btn btn-default" data-toggle="modal" data-target="#addLinkModal">Add New Link</button>
			<button class="btn btn-default" data-toggle="modal" data-target="#addStackModal">Create New Stack</button>
			<div ng-repeat="stack in stacks" class="stack well">
				<a ng-href="#/stacks/{{stack._id}}"><h3 data-ng-bind="stack.name">.</h3></a>
				<a ng-href="#/users/{{user._id}}"><p data-ng-bind="user.name">, </p></a><p data-ng-bind="stack.createdAt">.</p>

				<div ng-repeat="bookmark in bookmarks" class="stack well">
					<a ng-href="{{bookmark.url}}" class="stackItem"><img src="http://placehold.it/128x128"></a>
				</div>
			</div>
		<div class="modal fade custom-modal" id="addLinkModal" tabindex="-1" role="dialog" aria-hidden="true">
		  <form class="form-inline custom-form">
		    <h3>Add New Bookmark</h3>
		    <input type="text" class="modalField" required placeholder="Name" name="name">
		    <input type="text" class="modalField" required placeholder="URL" name="url">
		    <!-- <select name="addToStack">
		    <option value="" disabled selected>Add to Stack</option>
		    	<div ng-repeat="stack in stacks">
	    		<option value="{{name}}">{{name}}</option>
	    	</div>
		    </select> -->
		    <div ng-dropdown-multiselect="" options="tags" selected-model="selectedTags"></div>
		    <input type="submit" class="btn btn-success" value="Add Bookmark">
		    <input type="button" data-dismiss="modal" class="btn btn-danger" value="Close">
		  </form>
		  </div>
		</div>	

		  <div class="modal fade custom-modal" id="addStackModal" tabindex="-1" role="dialog" aria-hidden="true">
		    <form class="form-inline custom-form" data-ng-submit="submitStackForm()">
		      <h3>Create a new Stack</h3>
		      <input type="text" class="modalField" required placeholder="Name" name="name">
		      <!-- <div ng-dropdown-multiselect="" options="tags" selected-model="selectedTags"></div> -->
		      <input type="submit" class="btn btn-success" value="Create Stack">
		      <input type="button" data-dismiss="modal" class="btn btn-danger" value="Close">
		    </form>
		  </div>

  </div>
  <div data-ng-hide="isLoggedIn">
    <h1>Not logged in</h1>
  </div>
</div>